*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul_escuro : #004AAD;
    --altura_cabecalho: 70px;
    --cor_body: #002A62; 
}

body {
    font-family: poppins, sans-serif;
    background-color: var(--cor_body);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    background-color: var(--azul_escuro);
    align-items: center;
    height: var(--altura_cabecalho);
    padding: 35px 40px; 
}

.cabecalho__detalhes{
    display: flex;
    align-items: center;
}
.nome_site_aprenda{
    font-family: 'Courier Prime', Arial, Helvetica, sans-serif; 
    font-size: 19px; 
    color: white;
}
.nome_site_ts{
    font-family: 'Lexend', Arial, Helvetica, sans-serif; 
    font-size: 20px; 
    margin-left: 5px;
    color: white;
    margin-bottom: 5px;
}
nav li{
    display: inline-block;
}
nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
}
.icon_cabecalho_inicio{
    color: white;
}
.icon_cabecalho{
    color: white;
}
.lista_do_cabecalho:hover .topicos{
    display: block;
}
.topicos{
    position: absolute;
    box-shadow: 0  0 2px black;
    display: none; 
    background-color: var(--azul_escuro);
    height: 100px;
    width: 150px;
    right: 0px;
}
.topicos a:hover{
    background-color: #398cf8;
    
}
.topicos a{
    display: block;
    color: white;
}
.painel_1{
    background-color: var(--azul_escuro); 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px; 
    height: auto;
    align-items: center;
}
.texto_painel_1{
    color: white;
    padding: 10px;
    font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
}
.fonte_painel_1{
    color: white;
    margin-left: 80%;
}
.link_painel_1{
    color: white;
}
.texto_body_titulo{
    font-family: 'Lexend', Arial, Helvetica, sans-serif; 
    margin-left: 20px; 
    color: white;
}
.texto_body_texto{
    font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
    margin-left: 20px; 
    color: white;
    margin-bottom: 10px;
}
.textos_container{
    display: inline-block;
}



.main-footer {
	background-color: black;
    display: flex;
    margin-top: 100%;
    height: 70px; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.img_rodape{
    width: 40px;
    height: 40px; 
    margin-left: 10px;
}
.div1_rodape{
    display: flex;
}
.div2_rodape{
    display: inline-block;
}
