<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aprendaTS - if, else e else if</title>
    <link rel="stylesheet" href="../../CSS/ASSUNTOS/if_e_else.css">
    <!-- Google Fonts : -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,500;1,500&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Gabarito&family=Lato&family=Lumanosimo&family=Poppins:ital,wght@0,100;0,300;0,400;1,300&family=Ysabeau+SC:wght@500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    <!-- Google Icons : -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Bootstrap : -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Cabeçalho -->
    <header class="cabecalho">
        <div class="cabecalho__detalhes">
            <a href="/" class="redirecionar_pag_inicial">
                <p class="nome_site_aprenda">aprenda</p>
                <h1 class="nome_site_ts">TypeScript</h1>
            </a>
        </div>

        <!-- Menu -->
        <nav>
            <center>
                <div class="container">
                    <ul>
                        <li class="lista_do_cabecalho">
                            <i class="material-icons icon_cabecalho">menu</i>
                            <div class="topicos">
                                <a href="./string.html">String</a>
                                <a href="./number.html">Number</a>
                                <a href="./boolean.html">Boolean</a>
                                <a href="./array.html">Array</a>
                                <a href="./class.html">Classe</a>
                                <a href="./if_e_else.html">If, Else e Else if</a>
                                <a href="./let_e_const.html">Let e Const</a>
                                <a href="./igual_e_dois_pontos.html">"=" e ":"</a>
                                <a href="">Function</a>
                            </div>
                    </ul>
                </div>
            </center>
        </nav>
        <!-- Fim Menu -->
    </header>
    <!-- Fim do Cabeçalho -->

    <p class="texto_body_titulo"><strong>If, Else e Else if</strong></p>
    <!-- Let -->
    <ul>
        <li>
            <p class="texto_body_titulo"><strong>If</strong></p>
        </li>
        <p class="texto_body_texto">O if é uma estrutura de controle de fluxo condicional que executa um bloco de código
            se a condição especificada for avaliada como verdadeira (true). A sintaxe é a seguinte: if (condição) { //
            código a ser executado se a condição for verdadeira}.
        </p>
        </br>
        <p class="texto_body_texto">Exemplo:</p>
        </br>

        <img class="img-fluid imagens_dos_codigos" src="../../IMAGES/ASSUNTOS/IF E ELSE/if.png">
        </br>

        <li>
            <p class="texto_body_titulo"><strong>Else if</strong></p>
        </li>
        <p class="texto_body_texto">O else if é uma extensão do if e permite executar diferentes blocos de código com
            base em diferentes condições. Se a condição do if for verdadeira, o bloco de código dentro do if é
            executado. Se a condição do if for falsa, o bloco de código dentro do else if é executado. Se a condição do
            else if for falsa, o bloco de código dentro do else é executado.
        </p>
        </br>
        <p class="texto_body_texto">Exemplo:</p>
        </br>

        <img class="img-fluid imagens_dos_codigos" src="../../IMAGES/ASSUNTOS/IF E ELSE/else_if.png">
        </br>

        <li>
            <p class="texto_body_titulo"><strong>Else</strong></p>
        </li>
        <p class="texto_body_texto">O bloco else é usado em conjunto com o if para executar um bloco de código quando a
            condição do if for avaliada como falsa. Se a condição do if for verdadeira, o bloco de código dentro do else
            não será executado. A sintaxe é a seguinte: if (condição) {// código a ser executado se a condição for
            verdadeira} else {// código a ser executado se a condição for falsa}.
        </p>
        </br>
        <p class="texto_body_texto">Exemplo:</p>
        </br>
        <img class="img-fluid imagens_dos_codigos" src="../../IMAGES/ASSUNTOS/IF E ELSE/else_if.png">
        </br>
        <img class="img-fluid imagens_dos_codigos" src="../../IMAGES/ASSUNTOS/IF E ELSE/else.png">
        </br>

    </ul>

    <p class="texto_body_texto">Esses três blocos de controle de fluxo são fundamentais para a programação em TS
        e são usados para controlar o comportamento do programa com base em diferentes condições.
    </p>
    </br>
    </br>
    </br>
    <p class="voltar_pag_inicial"><a href="/">Voltar para a página inicial</a></p>

    <!-- Rodapé -->
    <footer class="main-footer">
        <div class="div1_rodape">
            <img src="../../IMAGES/rodape.png" class="img_rodape img-fluid">
            <p class="texto_body_texto">© 2024 AprendaTypeScript.com</p>
        </div>
        <div class="div2_rodape">
            <p><a href="../../HTML/bibliografia.html" class="texto_body_texto">Bibliografia</a></p>
            <p><a href="../../HTML/sobre.html" class="texto_body_texto">Sobre</a></p>
        </div>
    </footer>

</body>

</html>