*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul_escuro : #004AAD;
    --altura_cabecalho: 70px;
    --cor_body: #002A62; 
}

body {
    font-family: poppins, sans-serif;
    background-color: var(--cor_body); 
}

/* Cabeçalho */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
  }
  
  .cabecalho {
      display: flex;
      flex-direction: row;
      justify-content:  space-between;
      background-color: var(--azul_escuro);
      align-items: center;
      height: var(--altura_cabecalho);
      padding: 35px 40px; 
      width: 100%;
  }
  
  .cabecalho__detalhes{
      display: flex;
      align-items: center;
  }
  .nome_site_aprenda{
      font-family: 'Courier Prime', Arial, Helvetica, sans-serif; 
      font-size: 19px; 
      color: white;
  }
  .nome_site_ts{
      font-family: 'Lexend', Arial, Helvetica, sans-serif; 
      font-size: 20px; 
      margin-left: 5px;
      color: white;
      margin-bottom: 5px;
  }
  nav li{
      display: inline-block;
  }
  nav li a{
      display: inline-block;
      color: white;
      text-decoration: none;
  }
  .icon_cabecalho_inicio{
      color: white;
  }
  .icon_cabecalho{
      color: white; 
  }
  .lista_do_cabecalho:hover .topicos{
      display: block;
  }
  .topicos{
      position: absolute;
      box-shadow: 0  0 2px black;
      display: none; 
      background-color: var(--azul_escuro);
      height: auto;
      width: 150px;
      right: 0px;
  }
  .topicos a:hover{
      background-color: #398cf8;
      
  }
  .topicos a{
      display: block;
      color: white;
  } 
  /* Fim do Cabeçalho */
  
a, span{
    color: white; 
} 
.corpo {
    font-family: poppins, sans-serif;
    background-color: #002A62;
}

.texto_body_titulo{
    color: white;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
}
.texto_body_texto{
    color: white;
    font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.label_email{
    padding-left: 20px;
    color: white;
}
.label_texto{
    padding-left: 20px;
    color: white;
}

.voltar_pag_inicial{
    font-family: 'Courier Prime', Arial, Helvetica, sans-serif; 
    color: white; 
}
.divmae{
    display: inline-block;
}
.painel1{
    width: 70%;
    height: 250px;
    border: none;
    background-color: #004AAD; 
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px; 
    padding-top: 5px;
}
form{
    padding-top: 10px;
}
.lapis_icon{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
} 
