<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliografia</title>
    <link rel="stylesheet" href="../CSS/bibliografia.css">
    <!-- Google Fonts : -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,500;1,500&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Gabarito&family=Lato&family=Lumanosimo&family=Poppins:ital,wght@0,100;0,300;0,400;1,300&family=Ysabeau+SC:wght@500;600;700&display=swap"
        rel="stylesheet">
    <!-- Bootstrap : -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Falar da criação do site -->
    <p class="texto_body_titulo"><strong>BIBLIOGRAFIA UTILIZADA PARA CONFECÇÃO DO SITE</strong></p>
    <ul>

        <li class="texto_body_texto">
            ONLINE, R.
            <strong>Visual Studio Code: confira as principais funções da ferramenta. Remessa News - Notícias Sobre
                Transferências Internacionais e Câmbio</strong>, 26 out. 2021. Disponível em: 
            <a href="https://www.remessaonline.com.br/blog/visual-studio-code-confira-as-principais-funcoes-da-ferramenta/"
                target="_blank">https://www.remessaonline.com.br/blog/visual-studio-code-confira-as-principais-funcoes-da-ferramenta/
            </a>.
            Acesso em: 15 mar. 2024.
        </li>

        <li class="texto_body_texto">
            CARLOS, E.
            <strong>O Que é Node.Js: Aplicações Práticas e Como Instalá-lo</strong>. Disponível em: 
            <a href="https://www.hostinger.com.br/tutoriais/o-que-e-node-js"
                target="_blank">https://www.hostinger.com.br/tutoriais/o-que-e-node-js
            </a>.
            Acesso em: 15 mar. 2024.
        </li>

        <li class="texto_body_texto">
            HENRIQUE, Matheus. O que o NPX faz?.
            <strong>Alura</strong>, 2021. Disponível em: 
            <a href="https://cursos.alura.com.br/forum/topico-oque-o-npx-faz-182118#:~:text=NPX%20%C3%A9%20um%20executor%20de,X%20no%20final%20da%20sigla"
                target="_blank">https://cursos.alura.com.br/forum/topico-oque-o-npx-faz-182118#:~:text=NPX%20%C3%A9%20um%20executor%20de,X%20no%20final%20da%20sigla
            </a>.
            Acesso em: 8 abr. 2024.
        </li>

        <!-- Google Fonts -->
        <li class="texto_body_texto">
            <strong>BROWSE Fonts - Google Fonts</strong>. Disponível em:
            <a href="https://fonts.google.com/" target="_blank">https://fonts.google.com/</a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- Google Icons -->
        <li class="texto_body_texto">
            <strong>MATERIAL Symbols and Icons - Google Fonts</strong>. Disponível em:
            <a href="https://fonts.google.com/icons" target="_blank">https://fonts.google.com/icons</a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- BOOTSTRAP -->
        <li class="texto_body_texto">
            <strong>BOOTSTRAP</strong>. Disponível em:
            <a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- BOOTSTRAP em Português -->
        <li class="texto_body_texto">
            <strong>BOOTSTRAP em Português</strong>. Disponível em:
            <a href="https://getbootstrap.com.br/" target="_blank">https://getbootstrap.com.br/</a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- Tabela de Acentuação e Caracteres Especiais em HTML -->
        <li class="texto_body_texto">
            SARTI, Erika.
            <strong>Tabela de Acentuação e Caracteres Especiais em HTML</strong>. Disponível em:
            <a href="https://erikasarti.com/html/acentuacao-caracteres-especiais/"
                target="_blank">https://erikasarti.com/html/acentuacao-caracteres-especiais/
            </a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- Como criar Listas em HTML -->
        <li class="texto_body_texto">
            ARRIGONI, Ricardo.
            <strong>Como criar Listas em HTML</strong>. Disponível em:
            <a href="https://www.devmedia.com.br/listas-em-html/23853#defini%C3%A7%C3%A3o"
                target="_blank">https://www.devmedia.com.br/listas-em-html/23853#defini%C3%A7%C3%A3o
            </a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- Como utilizar os operadores de comparação -->
        <li class="texto_body_texto">
            <strong>JAVASCRIPT: Como utilizar os operadores de comparação - DebugEverything</strong>. Disponível em:
            <a href="https://blog.debugeverything.com/pt/javascript-operadores-de-comparacao/"
                target="_blank">https://blog.debugeverything.com/pt/javascript-operadores-de-comparacao/
            </a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- Visual Studio Code: confira as principais funções da ferramenta -->
        <li class="texto_body_texto">
            ONLINE, Remessa.
            <strong>Visual Studio Code: confira as principais funções da ferramenta - Remessa Online</strong>.
            Disponível em:
            <a href="https://www.remessaonline.com.br/blog/visual-studio-code-confira-as-principais-funcoes-da-ferramenta/"
                target="_blank">https://www.remessaonline.com.br/blog/visual-studio-code-confira-as-principais-funcoes-da-ferramenta/
            </a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- Introdução ao Visual Studio Code -->
        <li class="texto_body_texto">
            DIONISIO, Edson José.
            <strong>Introdução ao Visual Studio Code</strong>. Disponível em:
            <a href="https://www.devmedia.com.br/introducao-ao-visual-studio-code/34418"
                target="_blank">https://www.devmedia.com.br/introducao-ao-visual-studio-code/34418
            </a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- VS Code - O que é e por que você deve usar? -->
        <li class="texto_body_texto">
            HANASHIRO, Akira.
            <strong>VS Code - O que é e por que você deve usar?</strong> Disponível em:
            <a href="https://www.treinaweb.com.br/blog/vs-code-o-que-e-e-por-que-voce-deve-usar#google_vignette"
                target="_blank">https://www.treinaweb.com.br/blog/vs-code-o-que-e-e-por-que-voce-deve-usar#google_vignette
            </a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- PEOO - TS - Aula01. IntroducaoTypeScript.pdf -->
        <li class="texto_body_texto">
            PROCÓPIO, Fábio.
            <strong>PEOO - TS - Aula01. IntroducaoTypeScript.pdf</strong> Disponível em:
            <a href="https://drive.google.com/file/d/1dwvRo8vsEoAUvefFPKkS91Txsn5tm6kn/view?usp=sharing"
                target="_blank">https://drive.google.com/file/d/1dwvRo8vsEoAUvefFPKkS91Txsn5tm6kn/view?usp=sharing
            </a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- NODE.JS -->
        <li class="texto_body_texto">
            NODE.JS — Run JavaScript Everywhere. Disponível em:
            <a href="https://nodejs.org/en" target="_blank">https://nodejs.org/en
            </a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- Visual Studio Code -->
        <li class="texto_body_texto">
            MICROSOFT.
            <strong>Visual Studio Code - Code Editing. Redefined.</strong> Disponível em:
            <a href="https://code.visualstudio.com/" target="_blank">https://code.visualstudio.com/
            </a>.
            Acesso em: 9 abr. 2024.
        </li>

        <!-- Visual Studio Code -->
        <li class="texto_body_texto">
            DELFINO, Pedro.
            <strong>- E-tinet</strong> Disponível em:
            <a href="https://e-tinet.com/node-js-entenda-o-que/"
                target="_blank">https://e-tinet.com/node-js-entenda-o-que/
            </a>.
            Acesso em: 9 abr. 2024.
        </li>
    </ul>

    <br>
    <p class="voltar_pag_inicial"><a href="../index.html">Voltar para a página inicial</a></p>
</body>

</html>